<!DOCTYPE html>
<html>

<head>
   <title>Wazzam</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <link rel="icon" href="/assets/svg/bolt-lightning-solid.svg" type="image/x-icon">
   <link rel="stylesheet" href="/css/timeLine.css">
   <script async src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
   <style>
      body {
         font-family: "Roboto", sans-serif;
         background-color: #f5f5f5;
         color: #333;
      }

      ​ h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         font-family: "Roboto", sans-serif;
      }
   </style>
</head>

<body>
   {{{body}}}
</body>

</html>