<!-- importing js file -->
<script async src="/js/wazzamStart.js"></script>

<section class="w3-container w3-center backdrop-02">
	<img src="/assets/png/batman.png" alt="batman" data-speed="-5" class="batman">
	<div class="col-md-6 container w3-padding w3-center w3-margin w3-card">
		<h2>Sign-Up</h2>
		<form class="form signup-form">
			<div class="form-group">
				<label for="name-signup">name:</label>
				<input class="form-input" type="text" id="name-signup" />
			</div>
			<div class="form-group">
				<label for="email-signup">email:</label>
				<input class="form-input" type="text" id="email-signup" />
			</div>
			<div class="form-group">
				<label for="password-signup">pass:</label>
				<input class="form-input" type="password" id="password-signup" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">signup</button>
			</div>
		</form>
	</div>
</section>