<!-- importing css files and js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script async src="/js/wazzamStart.js"></script>

<section class="w3-container w3-center backdrop-01">
	<img src="/assets/png/superman.png" alt="superman" data-speed="-5" class="superman">
	<div class="container w3-padding w3-center w3-margin w3-card">
		<h1> Charge your social battery!</h1>
		<!-- links to login page-->
		<a href="/login">Login</a>
		<!-- links to sign up page-->
		<a href="/signup">Sign up</Sign-up></a>
		<!-- corrects class name for the lightning bolt icon -->
		<i class="fas fa-bolt"></i>
	</div>
</section>