body {
   margin: 0;
   display: flex;
   /* flex attributes */
   flex-direction: column;
   justify-content: center;
   /* other attributes */
   align-items: center;
   box-sizing: border-box;
   color: hsl(0, 0%, 100%);
   background-color: hsl(0, 0%, 50.2%);
   font-family: 'Times New Roman', Times, serif;
   min-height: 100vh; /* ensures at least full viewport height */
}

h1 {
   font-size: 1.5rem;
   margin-bottom: 1.25rem;
}

.backdrop-01 {
   /* positions backdrop */
   position: fixed;
   /* size and starting point */
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   /* sets display */
   display: flex;
   /* flex attributes */
   align-items: center;
   justify-content: center;
   /* background color */
   background-size: cover;
   background-position: center;
   background-color: hsla(0, 0%, 0%, 0.5);
   background-image: url('../assets/png/backdrop_01.png');
}

.backdrop-02 {
   /* positions backdrop */
   position: fixed;
   /* size and starting point */
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   /* sets display */
   display: flex;
   /* flex attributes */
   align-items: center;
   justify-content: center;
   /* background color */
   background-size: cover;
   background-position: center;
   background-color: hsla(0, 0%, 0%, 0.5);
   background-image: url('../assets/png/backdrop_02.png');
}

.superman {
   /* positions object */
   position: absolute;
   /* size and starting point */
   top: 0;
   left: 0;
   /* sets behind */
   z-index: -1;
   /* width and height */
   width: 100%;
   height: 100%;
   /* other attributes */
   overflow: visible;
   object-fit: cover;
   pointer-events: none;
   /* adds transition effect */
   transition: transform 0.2s ease-out;
}

.batman {
   /* positions object */
   position: absolute;
   /* size and starting point */
   top: 0;
   left: 0;
   /* sets behind */
   z-index: -1;
   /* width and height */
   width: 100%;
   height: 100%;
   /* other attributes */
   overflow: visible;
   object-fit: cover;
   pointer-events: none;
   /* adds transition effect */
   transition: transform 0.2s ease-out;
}

.container {
   text-align: center;
   border-radius: 0.625rem;
   padding: 1rem !important;
   background-color: hsl(180, 100%, 97.1%);
   box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.2);
}

a {
   margin: 0.3125rem;
   text-decoration: none;
   padding: 0.625rem 1.25rem;
   border: 0.0625rem solid hsl(0, 0%, 0%);
}

/* increases the size of the lightning bolt icon */
i.fa-bolt {
   font-size: 3rem;
   margin-bottom: 0.625rem;
}
